// palette Color cube
$Woodsmoke: #121117;
$White: #ffffff;
$MidGray: #69696d;
$BlueLagoon: #038384;
$SilverSand: #bcbdbd;
$FountainBlue: #52bbbb;
$CafeRoyale: #74370e;
$Tussock: #bd9542;

// palette Median cut
$GrayNurse: #e6ece8;
$Shark: #191c1e;
$Kabul:  #604142;
$breakerBay: #60949f;
$SmaltBlue: #59838c;

// palette Material design
$BlueChillVibrant: #16928e;
$SeaNymphMuted: #719a96;
$QuincyDarkVibrant: #5d412a;
$MerlinDarkMuted: #403a36;
$BermudaLightVibrant: #7fd2d5;


